{#
  Template for case attachments

  Variable attachments should be passed.
#}
<div class="issue__attachments__wrapper">
{% if attachments %}
  <div class="issue__attachments">
    <h3>{{ 'Attachments'|trans }}</h3>
    <div class="issue__attachments-container">
      {% for attachment in attachments %}
        {% if attachment.file_url and attachment.publicity_class == 'Julkinen' %}
          {% set icon_class = 'download' %}
        {% elseif attachment.publicity_class != 'Julkinen'%}
          {% set icon_class = 'eye-crossed' %}
        {% else %}
          {% set icon_class = 'cross-circle' %}
        {% endif %}
        <div class="issue__attachment">
        {% if attachment.file_url and attachment.publicity_class == 'Julkinen' %}
          <a href="{{ attachment.file_url }}" class="paatokset__link-plain" aria-label="{{ 'Link opens a file'|t }}">
            <div>
              <i class="hel-icon hel-icon--{{ icon_class }}" aria-hidden="true" style="vertical-align: middle"></i>
            </div>
            <div>{{ attachment.title }}</div>
          </a>
        {% else %}
          <div>
            <div>
              <i class="hel-icon hel-icon--{{ icon_class }}" aria-hidden="true" style="vertical-align: middle"></i>
            </div>
            <div>{{ attachment.title }}</div>
          </div>
        {% endif %}
        </div>
      {% endfor %}
    </div>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
{% endif %}
</div>
