{{ attach_library('helfi_paatokset/accordion_inner') }}

<div class="paatokset-accordion voting-results-accordion">
  <div class="accordion__wrapper handorgel">
    <h3 class="accordion-item__header handorgel__header">
      <button class="accordion-item__button accordion-item__button--toggle handorgel__header__button">
        <span>{{ 'Voting results'|t }}</span>
        <div class="accordion-item__icon">
          {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'angle-down'} %}
        </div>
      </button>
    </h3>
    <div class="accordion-item__content handorgel__content">
      <div class="accordion-item__content__inner handorgel__content__inner">

        {% for results in vote_results %}
          <h4>{{ 'Äänestys'|t }} {{ loop.index }}</h4>
          <p><b>{{ 'Ayes'|t }}:</b> {{results.accordions.Ayes.Content }}</p>
          <p><b>{{ 'Noes'|t }}:</b> {{results.accordions.Noes.Content }}</p>
          {% for key, accordion in results.accordions %}
            <div class="voting-results-accordion__inner">
              <div class="accordion__wrapper handorgel-inner">
                <div class="accordion-item__header handorgel__header">
                  <button class="accordion-item__button accordion-item__button--toggle handorgel__header__button" {% if accordion.NumberOfVotes == 0 %} disabled {% endif %}>
                    <div class="result-type {{ key|lower }}">
                      <span class="result-color">{{ accordion.NumberOfVotes }}</span>
                      <span class="result-key">{{ key|t }}</span>
                    </div>
                    {% if accordion.NumberOfVotes != 0 %}
                    <div class="accordion-item__icon">
                      {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'angle-down'} %}
                    </div>
                    {% endif %}
                  </button>
                </div>
                <div class="accordion-item__content handorgel__content">
                  <div class="accordion-item__content__inner handorgel__content__inner">
                    <table class="results-table">
                      <thead>
                        <tr class="results-table__row">
                          <th>{{ 'Member'|t }}</th>
                          <th>{{ 'Political group'|t }}</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for voter in accordion.Voters %}
                        <tr class="results-table__row">
                          <td>{{ voter.Name }}</td>
                          <td>{{ voter.CouncilGroup }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                    <span class="accordion-item__button accordion-item__button--close-inner" role="button" tabindex="0">
                      {{ 'Close'|t }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}

          <div class="results-by-party">
            <h5>{{ 'By political group'|t }}</h5>
            <table class="results-table">
              <thead>
                <tr class="results-table__row">
                  <th>{{ 'Political group'|t }}</th>
                  <th>{{ 'Jaa'|t }}</th>
                  <th>{{ 'Ei'|t }}</th>
                  <th>{{ 'Blank'|t }}</th>
                  <th>{{ 'Absent'|t }}</th>
                </tr>
              </thead>
              <tbody>
                {% for row in results.by_party %}
                  <tr class="results-table__row">
                    <td>{{ row.Name }}</td>
                    {% if row.Ayes %}
                      <td class="color-kupari">{{ row.Ayes }}</td>
                    {% else %}
                      <td class="color-kupari">0</td>
                    {% endif %}
                    {% if row.Noes %}
                      <td class="color-tiili">{{ row.Noes }}</td>
                    {% else %}
                      <td class="color-tiili">0</td>
                    {% endif %}
                    {% if row.Blank %}
                      <td class="color-sumu">{{ row.Blank }}</td>
                    {% else %}
                      <td class="color-sumu">0</td>
                    {% endif %}
                    {% if row.Absent %}
                      <td class="color-gray-light">{{ row.Absent }}</td>
                    {% else %}
                      <td class="color-gray-light">0</td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endfor %}


        <span class="accordion-item__button accordion-item__button--close" role="button" tabindex="0">
          {{ 'Close'|t }}
        </span>
      </div>
    </div>
  </div>
</div>
