{#

#}
{{ attach_library('hdbt/accordion') }}
<div class="issue-content-top__container">
  <div{{ content_attributes.addClass('issue-content-top') }}>
    {% if decision_section %}
      <div class="issue-content__indices">
        {{ decision_section }}
      </div>
    {% endif %}

    <div class="issue-content__title">
      <h2>{{ selectedDecision.field_full_title.value }}</h2>
    </div>

    {% if decision_org_name %}
      <div class="issue-content__policymaker-label {{ selected_class }}">
        <span>{{ decision_org_name }} </span>
      </div>
    {% endif %}

    {% if favorites_enabled %}
    <div class="issue__favorite-button">
      {% set button_label = 'Save %s to favorites'|format('decision')|t %}
      {% include '@helfi_paatokset/components/button.html.twig' with {type: 'supplementary', icon_first: true, icon_first_type: 'heart', disabled: false, label: button_label }
      %}
    </div>
    {% endif %}
  </div>
</div>

<div class="issue-content__container">
  <div{{ content_attributes.addClass('issue-content') }}>
    {{ decision_content.main }}
    {% if vote_results %}
      {% include '@helfi_paatokset/components/decision-voting-results.html.twig' %}
    {% endif %}
    <div class="paatokset-accordion">
      {% for accordion in decision_content.accordions %}
        <div class="accordion__wrapper handorgel">
          <h3 class="accordion-item__header handorgel__header">
            <button class="accordion-item__button accordion-item__button--toggle handorgel__header__button">
              <span>{{ accordion.heading }}</span>
              <div class="accordion-item__icon">
                {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'angle-down'} %}
              </div>
            </button>
          </h3>
          <div class="accordion-item__content handorgel__content">
            <div class="accordion-item__content__inner handorgel__content__inner">
              {{ accordion.content }}
              <span class="accordion-item__button accordion-item__button--close" role="button" tabindex="0">
                {{ 'Close'|t }}
              </span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    {% if decision_content.presenter_info %}
      <div class="issue__more-info">
        <h2>{{ decision_content.presenter_info.heading }}</h2>
        <div class="issue__more-info__content">
          {{ decision_content.presenter_info.content }}
        </div>
      </div>
    {% endif %}

    {% if decision_content.more_info %}
      <div class="issue__more-info">
        <h2>{{ decision_content.more_info.heading }}</h2>
        <div class="issue__more-info__content">
          {{ decision_content.more_info.content }}
        </div>
      </div>
    {% endif %}
  </div>
</div>
