{%
  set classes = [
  'policymaker-calendar',
  view_mode ? 'policymaker-calendar--view-mode-' ~ view_mode|clean_class,
]
%}

{% if meetings %}
<div {{ attributes.addClass(classes) }}>
  <h2>{{ label }}</h2>
  <div class="section-description">
    {{ meetings_description|raw }}
  </div>
  <table class="policymaker-calendar__table">
    <thead>
      <tr class="policymaker-calendar__table-header policymaker-calendar__table-row">
        <th>{{ date }}</th>
        <th>{{ time }}</th>
        <th>{{ additional_info }}</th>
      </tr>
    </thead>
    <tbody>
      {% for date, meeting in meetings %}
        {% for row in meeting %}
        <tr class="policymaker-calendar__table-row {% if row.meeting_cancelled %} policymaker-calendar__table-row--cancelled {%endif%}">
          <td>{{ date|date("d.m.Y") }}</td>
          <td>{{ row.start_time}}</td>
          <td>
          {% if row.additional_info %}
            {{ row.additional_info }}
          {% endif %}
          </td>
          {% if row.minutes_link %}
            <td>
              <a href="{{row.minutes_link}}">
                {{ open_minutes }}
                <i class="hel-icon hel-icon--angle-right"></i>
              </a>
            </td>
          {% elseif row.decision_link %}
            <td>
              <a href="{{row.decision_link}}">
                {{ open_decisions }}
                <i class="hel-icon hel-icon--angle-right"></i>
              </a>
            </td>
          {% elseif row.motions_list_link %}
            <td>
              <a href="{{row.motions_list_link}}">
                {{ open_motions }}
                <i class="hel-icon hel-icon--angle-right"></i>
              </a>
            </td>
          {% endif %}
        </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
