{%
  set classes = [
  'policymaker-members__block',
  'container',
  view_mode ? 'policymaker-members--view-mode-' ~ view_mode|clean_class,
]
%}
{% if (policymaker_type != 'Luottamushenkilö') and (policymaker_type != 'Viranhaltija')%}
  <div {{ attributes.addClass(classes) }} data-policymaker="{{ policymaker_id }}" data-type="{{ policymaker_type }}">
    <h2>{{ content['#title'] }}: {{ policymaker_name }}</h2>
    <div id="policymaker-members-vue"></div>
  </div>
{% endif %}
