{#
 /**
 * Template for TPR unit entity - contact card
 */
#}

{%
  set classes = [
    view_mode ? 'tpr-unit--view-mode-' ~ view_mode|clean_class,
    'policymaker-contact',
    'policymaker-contact--unit'
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="unit__title">
    <h3>{{content.name}}</h3>
  </div>
  
  {% if content.address|render %}
  <div class="unit-info unit-info__address">
    <div class="unit-info__icon">
      {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'location'} %}
    </div>
    <div>
      <label class="unit__contact-row__label">
        {{ 'Visiting address'|t }}:
      </label>
      {{ content.address }}
      {% if content.service_map_embed_url %}
        <a href={{ content.service_map_embed_url }} class="paatokset-button-link">
          {{ 'View on map'|t }}
          <i class="hel-icon hel-icon--arrow-right"></i>
        </a>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% if content.email|render %}
    <div class="unit-info unit-info__email">
      <div class="unit-info__icon">
        {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'envelope'} %}
      </div>
      <div>
        <label class="unit__contact-row__label">
          {{ 'E-mail'|t }}:
        </label>
        <a href="mailto:{{ content.email|render|striptags|trim|lower }}">
          {{ content.email }}
        </a>
      </div>
    </div>
  {% endif %}
  {% if content.phone|render %}
  <div class="unit-info unit-info__phone">
    <div class="unit-info__icon">
      {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'phone'} %}
    </div>
    <div>
      <label class="unit__contact-row__label">
        {{ 'Phone number'|t }}:
      </label>
      {{ content.phone }}
    </div>
  </div>
  {% endif %}
</article>