{%
  set classes = [
  'frontpage-calendar',
  view_mode ? 'frontpage-calendar--view-mode-' ~ view_mode|clean_class,
]
%}

{% if meetings %}
<div {{ attributes.addClass(classes) }}>
  {% include '@hdbt/misc/koro.twig' with { flip: false } %}
  <div class="container">
    <h2>{{ content.label }}</h2>
    <div class="frontpage-calendar__notice">
      {% if calendar_notice %}
      <p>{{ calendar_notice }}</p>
      {% endif %}
    </div>
    <div class="frontpage-calendar__item-container">
      {% for row in meetings %}
        {% include '@paatokset_ahjo_api/component/frontpage-calendar-item.html.twig' with {
          line_color: row.organization_color,
          date: row.meeting_date,
          title: row.title,
          policymaker: row.policymaker_name,
          motions_link: row.motions_list_link,
          minutes_link: row.minutes_link,
          decision_link: row.decision_link,
        }%}
      {% endfor %}
    </div>

    <div class="frontpage-calendar__link-container">
       <a href="{{ calendar_link }}">
        <span>{{ open_meeting_calendar }}</span>
        <i class="hel-icon hel-icon--arrow-right"></i>
      </a>
    </div>
  </div>
</div>
{% endif %}
