{% embed '@hdbt/content/node.html.twig' with {'node_class': 'components--news'} %}
  {% block main_content %}

    {# Lead text #}
    {% if content.field_lead|render or content.field_keywords|render %}
      <section class="preamble news-content">
        {{ content.field_lead }}
        {{ content.field_keywords }}
      </section>
    {% endif %}

    {# Article author #}
    <div class="news-content content-author">
      {{ content.field_author }}
    </div>

    {# Created date and modified date #}
    {% if published_at is not empty %}
      {% set html_published_at = published_at|format_date('custom', 'Y-m-d') ~ 'T' ~ published_at|format_date('custom', 'H:i') %}
      <div class="news-content content-date">
        <time datetime="{{ html_published_at }}" class="content-date__datetime content-date__datetime--published">
          <span class="visually-hidden">{{ 'Published'|t({}, {'context': 'The helper text before the node published timestamp'}) }}</span>
          {{ published_at|format_date('publication_date_format') }}
        </time>
      </div>
    {% endif %}

    {% if unpublish_on %}
      {% set html_unpublish_on = unpublish_on|format_date('custom', 'Y-m-d') ~ 'T' ~ unpublish_on|format_date('custom', 'H:i') %}
      <div class="news-content">
        <div class="hds-tag hds-tag__alert">
          <span>{{ 'This publication is public until @scheduled_unpublish_date'|t({'@scheduled_unpublish_date': unpublish_on|format_date('publication_date_format') }) }}</span>
        </div>
      </div>
    {% endif %}

    {# Content region #}
    <section class="article__body">
      {{ content|without(['field_lead', 'field_author', 'field_keywords']) }}
    </section>

    <div class="news-content">
      {# Social media share links #}
      {{ drupal_block('helfi_platform_config_social_sharing_block') }}
    </div>
  {% endblock main_content %}

{% endembed %}
