{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
<div{{ attributes.addClass('container') }}>
  {% if (years is not empty ) %}
  <div class="paatokset__decision-tree-container">
    <div class="decision-tree__title">
      <h4>{{ 'Select year' |trans }}</h4>
    </div>
    <br/>
      {% embed "@hdbt/misc/container.twig" with {container_element: 'accordion'} %}
        {% block container_content %}
          <div class="accordion__wrapper handorgel">
            <div class="accordion-item__content handorgel__content">
              <div class="accordion-item__content__inner handorgel__content__inner">
                <ul class="menu">
                  {% for item in years %}
                    {% for subtitle in item %}
                      <li class="item"><input type="button" id="yearSelection_{{ subtitle['#title']}}"  value="{{ subtitle['#title']}}"/></li>
                    {% endfor %}
                  {% endfor %}
                </ul>
                <div class="custom-select-wrapper">
                  <div class="custom-select">
                    <div class="custom-select__trigger" id="custom-select__trigger"><span id="showMoreTitle">{{ 'Show more' |trans }}</span>
                      <div class="arrow">
                        <svg aria-labelledby="arrow-down-994028988" class="icon" id="arrow-down">
                          <use xlink:href="/themes/contrib/hdbt/dist/icons/sprite.svg#arrow-down"></use>
                        </svg>
                        <svg aria-labelledby="arrow-up-994028988" class="icon" id="arrow-up">
                          <use xlink:href="/themes/contrib/hdbt/dist/icons/sprite.svg#arrow-up"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="custom-options" id="custom-options"></div>
                  </div>
                </div>
            </div>
          </div>
        {% endblock %}
      {% endembed %}
    <br/>
    <table id="listTable">
      {% for item in list %}
        {% for i in item %}
          <tr {{ attributes.addClass(i['#year']) }}>
            <td class="desktopTd">
              <p>{{ i['#date'] }}</p>
              <h5> <a href="{{ i['#url'] }}">{{ i['#title'] }}</a></h5>
            </td>
            <td class="mobileTd">
              <p>{{ i['#date'] }}</p>
              <h5><a href="{{ i['#url'] }}">{{ i['#responsiveTitle'] | trans}}</a></h5>
              <h5><a href="{{ i['#url'] }}">{{ i['#meetingNumber'] }} - {{ i['#year'] }}</a></h5>
            </td>
          </tr>
        {% endfor %}
      {% endfor %}
    </table>
  </div>
  {% endif %}
</div>
</div>

<noscript>
  <style>.custom-select-wrapper {display:none}</style>
</noscript>
