{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{%
  set block_classes = [
    'branding'
  ]
%}

{%
  set logo_classes = [
  'branding__logo',
  'logo',
  'logo--header'
]
%}

{% set attributes = attributes.addClass(block_classes) %}
{% set logo_attributes = create_attribute() %}

<div{{ attributes }}>
  <a{{ logo_attributes.addClass(logo_classes) }} href="{{ path('<front>') }}" title="{{ 'Home'|t }}"rel="home">
    {% include '@asuntotuotanto/misc/logo--black.html.twig' %}
  </a>
  <span class="branding__slogan">{{ site_slogan }}</span>
</div>