{#
/**
 *
 * @file
 * Template for a single document
 */
#}
<div class="policymaker-list-item">
  <a href="{{ document.link }}" class="policymaker-list-item--document" role="region" aria-label="{{ 'Document'|t }}">
    <div class="list-item__date">
      {% if document.publish_date %}
        <span class="list-item__date--desktop">{{ document.publish_date }}</span>
      {% endif %}
    </div>
    <div class="list-item__subject">
      <span>
        {{ document.title }}
        {% if document.meeting_number %}
          <span class="subject__date">
            {{  document.meeting_number }}
          </span>
        {% elseif document.publish_date_short %}
          <span class="subject__date">
            {{  document.publish_date_short }}
          </span>
        {% endif %}
      </span>
    </div>
  </a>

  {% if document.decision_link %}
  <div class="paatokset_download-link-container">
    <a class="paatokset__link-plain" href="{{ document.decision_link }}">
      {% include '@hdbt/misc/icon.twig' with {icon: 'document'} %}
      {{ 'Read decision announcement'|trans }}
    </a>
  </div>
  {% endif %}
</div>

