<a class="frontpage-calendar__item" {% if motions_link %} href="{{motions_link}}" {% elseif minutes_link %} href="{{minutes_link}}" {% endif %}>
  <div class="frontpage-calendar__item-inner">
    <div class="color-line {{ line_color }}"></div>
    <div class="content-container">
      <span class="meeting-date">{{ date|date("d.m.Y") }}</span>
      <h3>{{ policymaker }}</h3>
      {% if motions_link %}
        <div class="motions-link">
          <span>{{ open_motions }}</span>
          <i class="hel-icon hel-icon--angle-right"></i>
        </div>
      {% elseif minutes_link %}
        <div class="motions-link">
          <span>{{ open_minutes }}</span>
          <i class="hel-icon hel-icon--angle-right"></i>
        </div>
      {% endif %}
    </div>
  </div>
</a>
