{#
/**
 *  Available variables:
 *  - item: Se Drupal\paatokset_rss\DTO\LupapisteItem for available variables.
 */
#}
<div class="paatokset-rss-item-container">
  <div class="title">{{ item.title }}</div>
  <div class="description">{{ item.description }}</div>
  <div class="link">{{ item.link }}</div>
  <div class="pubdate">{{ item.pubDate|date('Y-m-d H:i:s') }}</div>
  <div class="toimenpideteksti">{{ item.toimenpideteksti }}</div>
  <div class="lupatunnus">{{ item.lupatunnus }}</div>
  <div class="julkaisuAlkaa">{{ item.julkaisuAlkaa|date('Y-m-d H:i:s') }}</div>
  <div class="julkaisuPaattyy">{{ item.julkaisuPaattyy|date('Y-m-d H:i:s') }}</div>
  <div class="kiinteistotunnus">{{ item.kiinteistotunnus }}</div>
  <div class="paatosPvm">{{ item.paatosPvm|date('Y-m-d H:i:s') }}</div>
  <div class="paatoksenPykala">{{ item.paatoksenPykala }}</div>
  <div class="paattaja">{{ item.paattaja }}</div>
  <div class="asiakirjaLink">{{ item.asiakirjaLink }}</div>
</div>
