{#
 /**
 * Template for policymaker minutes
 */
#}

<div class="minutes-container container">
  {% if meeting is not empty %}
    <h1 class="minutes__header">
      <span class="minutes__header-prefix">
        {{ meeting.page_title }}
      </span>
      <span class="minutes__header-title">{{ meeting.title }}</span>
      <span class="minutes__header-suffix">
        {{ meeting.date_long }}
      </span>
    </h1>
  {% endif %}

  {% if list is not empty %}
    <div class="minutes-list__wrapper">
      <h2 class="minutes-list__header">
        {{ 'Issue list'|t }}
      </h2>
      <div class="minutes-list__container">
        {% for agenda_item in list %}
          {% include '@paatokset_ahjo/component/agenda-item--list-item.html.twig' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if file %}
    <div class="minutes-file__container">
    {% if file.publish_date %}
      <div class="minutes__publish-date">
        <label>{{ file.document_title }}</label>
        <span class="publish-date__date">{{ file.publish_date }}</span>
      </div>
    {% endif %}
    {% if file.file_url %}
      <div class="minutes__file-link">
        <a class="paatokset-button-link" aria-label="Link downloads a file" href="{{ file.file_url }}">
          <i class="hds-icon hds-icon--document"></i>
          <span>{{ 'Download printable version (PDF)'|t }}</span>
        </a>
      </div>
    {% endif %}
    </div>
  {% endif %}

  {% if minutes_of_discussion %}
    <div class="minutes-file__container">
      {% for minute in minutes_of_discussion %}
        <div class="minutes__file-link">
          <a class="paatokset-button-link" aria-label="Link downloads a file" href="{{ minute.origin_url }}">
            <i class="hds-icon hds-icon--document"></i>
            <span>{{ 'Download minutes of discussion (PDF)'|t }}</span>
          </a>
        </div>
      {% endfor %}
    <div>
  {% endif %}
</div>
