{#
 /**
 * Template for policymaker minutes
 */
#}
<div class="minutes-container">
  {% if meeting is not empty %}
    <h1 class="minutes__header">
      <span class="minutes__header-prefix">
        {{ meeting.page_title }}
      </span>
      <span class="minutes__header-title">{{ meeting.title }}</span>
      <span class="minutes__header-suffix">
        {{ meeting.date_long }}
      </span>
    </h1>
  {% endif %}

  {% if meeting_metadata.date or meeting_metadata.location %}
    <div class="minutes-decision__meta">
      {% if meeting_metadata.date %}
        <div class="Kokousaika">{{ "Meeting time"|t }}: {{ meeting_metadata.date }}</div>
      {% endif %}
      {% if meeting_metadata.location %}
        <div class="Kokouspaikka">{{ "Meeting location"|t }}: {{ meeting_metadata.location }}</div>
      {% endif %}
    </div>
  {% endif %}

  {% if documents_description|render %}
    <div class="minutes-description">
      {{ documents_description }}
    </div>
  {% endif %}

  {% if list is not empty %}
    <div class="minutes-list__wrapper">
      <h2 class="minutes-list__header">
        {{ 'Issue list'|t }}
      </h2>
      <div class="minutes-list__container">
        {% for agenda_item in list %}
          {% include '@paatokset_ahjo_api/component/agenda-item--list-item.html.twig' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if file %}
    <div class="minutes-file__container">
    {% if file.publish_date %}
      <div class="minutes__publish-date">
        <label>{{ file.document_title }}</label>
        <span class="publish-date__date">{{ file.publish_date }}</span>
      </div>
    {% endif %}
    {% if file.file_url %}
      <div class="minutes__file-link">
        <a class="paatokset-button-link" aria-label="Link downloads a file" href="{{ file.file_url }}">
          <i class="hel-icon hel-icon--document"></i>
          <span>{{ 'Download printable version (PDF)'|t }}</span>
        </a>
      </div>
    {% endif %}
    </div>
  {% endif %}

  {% if decision_announcement is not empty %}
    <div class="minutes-decision__container" id="{{ decision_announcement.element_id }}">
      {% if decision_announcement.heading %}
        <h2 class="minutes-decision__heading">
          {{ decision_announcement.heading }}
        </h2>
      {% endif %}

      {% if decision_announcement.metadata['#markup'] %}
        <div class="minutes-decision__meta">
          {{ decision_announcement.metadata }}
        </div>
      {% endif %}

      {% if decision_announcement.disclaimer is not empty %}
        {{ decision_announcement.disclaimer }}
      {% endif %}

      {% embed "@hdbt/misc/component.twig" with {
        component_classes: [
          'component--accordion',
          'component--accordion-bg-white',
          'component--accordion-minutes',
        ],
        component_content_class: 'accordion',
      } %}
        {% block component_content %}
          <button type="button" class="accordion-item__button js-accordion__button--toggle-all accordion__button--is-open is-hidden">
            <span {{ alternative_language ? create_attribute(({ 'lang': lang_attributes.fallback_lang, 'dir': lang_attributes.fallback_dir })) }}>{{ 'Open all'|t({}, {'context': 'Accordion open all'}) }}</span>
          </button>
          {% for accordion in decision_announcement.accordions %}
            {% set accordion_content %}
              {{ accordion.content }}
              {% if accordion.link %}
                <p><a href="{{ accordion.link }}" target="_blank" rel="noopener">
                    {{ "Read motion (Opens in a new tab)"|t }}
                </a></p>
              {% endif %}
            {% endset %}
            {% include '@hdbt/component/accordion.twig' ignore missing with {
              heading_level: 'h3',
              heading: accordion.heading,
              content: accordion_content,
            } %}
          {% endfor %}
        {% endblock component_content %}
      {% endembed %}

      {% if decision_announcement.more_info['#markup'] %}
        <div class="minutes-decision__meta">
          {{ decision_announcement.more_info }}
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% if minutes_of_discussion %}
    <div class="minutes-file__container">
      {% for minute in minutes_of_discussion %}
        <div class="minutes__file-link">
          <a class="paatokset-button-link" aria-label="Link downloads a file" href="{{ minute.link }}">
            <i class="hel-icon hel-icon--document"></i>
            <span>{{ 'Download minutes of discussion (PDF)'|t }}</span>
          </a>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {# Social media share links #}
  {{ drupal_block('helfi_platform_config_social_sharing_block') }}
</div>
