{% if first_paragraph_bg %}
  {% set modifier_class = ' has-first-gray-bg-block' %}
{% endif %}

<div{{ attributes.addClass('components components--computed') }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
