{#
  Values that should be passed:
    - Options: array containing title, value and class for an option
    - Selected: currently selected option
#}


{% if options %}
<div class="issue__meetings-container">
  <div class="issue__meetings-labels">
    <label>{{ 'Process history'|trans }}</label>
    <div class="new-handlings-warning__wrapper">
      {%
        set warning_classes = [
          'issue__new-handlings-warning',
          show_warning ? 'visible'
        ]
      %}
      <div{{ attributes.addClass(warning_classes) }}>   
        <div class="new-handlings-warning__container">
          {% include '@hdbt/misc/icon.twig' with {icon: 'alert-circle', label: 'More recent handlings'|t } %}
          <span>{{ warning_label }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="issue__meetings-dropdown">
    {% if selected %}
      {% include '@hdbt/button/button.html.twig' with {type: 'secondary', disabled: false, label: selected.title, icon_last: true, icon_last_type: 'angle-down' } %}
    {% else %}
      {% include '@hdbt/button/button.html.twig' with {type: 'secondary', disabled: false, label: 'Choose a handling'|t, icon_last: true, icon_last_type: 'angle-down' } %}
    {% endif %}
    <ul class="issue__meetings-select" aria-expanded='false' tabindex="-1" aria-haspopup='listbox'>
      {% for option in options %}
        {% if selected == option %}
          <li
            data-styleclass="{{option.class}}"
            data-link="{{option.link}}"
            role="option" aria-selected="true"
            tabindex="0"
            class="option selected {{option.class}}"
            title="{{option.title}}"
          >
            <a class="paatokset__link-plain" href="?decision={{option.link}}">{{ option.title }}</a>
          </li>
        {% else %}
          <li
            data-styleclass="{{option.class}}"
            data-link="{{option.link}}"
            role="option"
            aria-selected="false"
            tabindex="0"
            class="option {{option.class}}"
            title="{{option.title}}"
          >
            <a class="paatokset__link-plain" href="?decision={{option.link}}">{{ option.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <noscript>
    <style>
      .issue__meetings-select {
        display: block;
      }

      .issue__meetings-dropdown button.hds-button {
        display: none;
      }

      .issue__meetings-container .option.selected {
        display: none;
      }
    </style>
  </noscript>
</div>
{% endif %}
