{%
  set classes = [
  'all-initiatives',
  view_mode ? 'all-initiatives--view-mode-' ~ view_mode|clean_class,
]
%}
<div {{ attributes.addClass(classes) }}>
  {% set years = articles_by_year | keys %}
  {% if (years is not empty ) %}
    <div class="tabbed-content__container">
      <div class="tabbed-content__title">
        <span>{{ 'Select year' |trans }}</span>
      </div>
      {% embed "@hdbt/misc/container.twig" with {container_element: 'tabbed-content'} %}
        {% block container_content %}
          <div class="tabbed-list">
            <div class="tabbed-list__content">
              <div class="tabbed-list__content__inner">
                <ul class="menu">
                  {% for year in years %}
                    {% set item_attributes = create_attribute() %}
                    {%
                      set item_classes = [
                        'item',
                        loop.index == 1 ? 'selected'
                      ]
                    %}
                    <li{{ item_attributes.addClass(item_classes) }}>
                      {% if loop.index == 1 %}
                        <input type="button" id="yearSelection_{{ year }}" value="{{ year }}" aria-pressed="true"/>
                      {% else %}
                        <input type="button" id="yearSelection_{{ year }}" value="{{ year }}" aria-pressed="false"/>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
                <div class="custom-select-wrapper">
                  <div class="custom-select">
                    <button class="custom-select__trigger" id="custom-select__trigger"><span id="showMoreTitle">{{ 'Show more' |trans }}</span>
                      <div class="arrow">
                        <i class="hel-icon hel-icon--angle-down"></i>
                      </div>
                    </button>
                    <div class="custom-options" id="custom-options">
                      {% for year in years %}
                        <div class="custom-option">
                          <input type="button" value="{{ year }}"/>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endblock %}
      {% endembed %}
      {% for year, documents in articles_by_year %}
        {% set document_container_attributes = create_attribute() %}
        {%
          set document_container_classes = [
            'policymakers-documents',
            loop.index == 1 ? 'selected-year'
          ]
        %}

        <div{{ document_container_attributes.addClass(document_container_classes).setAttribute('value', year) }}>
          {% for document in documents %}
            {{ document }}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
