{#
  Template for case attachments

  Variable attachments should be passed.
#}
<div class="issue__attachments__wrapper">
{% if attachments.items %}
  <div class="issue__attachments">
    <h3>{{ 'Attachments'|trans }}</h3>
    <div class="issue__attachments-container">
      {% set non_public_attachments = false %}
      {% set missing_attachment_links = false %}
      {% for attachment in attachments.items %}
        {% if attachment.file_url and attachment.publicity_class == 'Julkinen' %}
          {% set icon_class = 'download' %}
        {% elseif attachment.publicity_class != 'Julkinen'%}
          {% set icon_class = 'eye-crossed' %}
          {% set non_public_attachments = true %}
        {% else %}
          {% set icon_class = 'cross-circle' %}
          {% set missing_attachment_links = true %}
        {% endif %}
        <div class="issue__attachment">
        {% if attachment.file_url and attachment.publicity_class == 'Julkinen' %}
          <a href="{{ attachment.file_url }}" class="paatokset__link-plain" aria-label="{{ 'Link opens a file'|t }}">
            <div>
              <i class="hel-icon hel-icon--{{ icon_class }}" aria-hidden="true" style="vertical-align: middle"></i>
            </div>
            <div>{{ attachment.number }}{{ attachment.title }}</div>
          </a>
        {% else %}
          <div>
            <div>
              <i class="hel-icon hel-icon--{{ icon_class }}" aria-hidden="true" style="vertical-align: middle"></i>
            </div>
            <div>{{ attachment.number }}{{ attachment.title }}</div>
          </div>
        {% endif %}
        </div>
      {% endfor %}
    </div>
    {% if (non_public_attachments or missing_attachment_links) and attachments.publicity_reason %}
    <div class="issue__attachment__reason">
      {{ attachments.publicity_reason }}
    </div>
    {% endif %}
  </div>
{% endif %}
</div>
