{#

#}
<header id="case-header" class="issue-header__container" data-case-id="{{ case.id() }}">
  <div class="issue__header">
    <h1 class="issue__title">
      {{ case.label() }}
    </h1>

    {% if not case.hasOwnLabel() %}
    <div class="title-tag">
      <div class="info-label">
        <div class="hds-tag hds-tag--info">
          <span>{{ 'For decisions released prior to 2019 a related decision heading is displayed for cases.'|t }}</span>
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  {% if case.label.value|render %}
    <div class="issue__diarynumber">
      <label>
        {{ 'Diary number'|trans }}
      </label>
      <span>{{ case.label.value }}</span>
    </div>
  {% endif %}
  <div class="issue-header__footer">
    {% set top_category = case.getTopCategory() %}
    {% if top_category or node.isConfidential() %}
      <section class="issue__category issue__left-column__container" aria-label='{{ 'Tags'|t }}' role="Region">
        {% if top_category.value|render %}
        <span class="hds-tag">
          {{ top_category.getLabel() }}
        </span>
        {% endif %}
        {% if case and case.isConfidential() %}
          <span class="hds-tag hds-tag--error">
            {{ "Confidential"|t }}
          </span>
        {% endif %}
      </section>
    {% endif %}
  </div>
  {% if case and case.isConfidential() %}
    <span class="issue-content__confidentiality-reason">({{ case.getConfidentialityReason() }})</span>
  {% endif %}
</header>
