{% embed '@hdbt/content/node.html.twig' with {'node_class': 'components components--news'} %}
  {% block main_content %}

    {# Lead text #}
    {% if content.lead|render %}
      <section class="preamble">
        {{ content.lead }}
      </section>
    {% endif %}

    {# Created date and modified date #}
    {% if content.published %}
      <div class="content-date">
        {% set html_published_at = content.published|format_date('custom', 'Y-m-d') ~ 'T' ~ content.published|format_date('custom', 'H:i') %}
        <time datetime="{{ html_published_at }}" class="content-date__datetime content-date__datetime--published">
          <span class="visually-hidden">{{ 'Published'|t({}, {'context': 'The helper text before the node published timestamp'}) }}</span>
          {{ content.published|format_date('publication_date_format') }}
        </time>
      </div>
    {% endif %}

    {# Main image #}
    {% if content.lead_image|render %}
      <figure class="image">
        <img
          src="{{ content.lead_image }}"
          alt="{{ node.field_image_alt.value }}"
          title="{{ node.field_image_title.value }}"
        />
      </figure>
    {% endif %}
    {# End of Main image #}

    {# Content region #}
    {% if node.body.value|render|striptags|trim is not empty %}
      <section class="article__body">
      {{ node.body.value | check_markup('full_html') }}
      </section>
    {% endif %}

    {# Social media share links #}
    {{ drupal_block('hdbt_content_social_sharing_block') }}

  {% endblock main_content %}

{% endembed %}
