{#
  Template for issue attachments

  Variable attachments should be passed.
#}

{% if attachments %}
  <div class="issue__attachments">
    <h3>{{ 'Attachments'|trans }}</h3>
    <div class="issue__attachments-container">
      {% for attachment in attachments %}
        {% if attachment.public.value %}
          <div class="issue__attachment">
            <a 
              href="{{ attachment.file_url.value }}"
              class="paatokset__link-plain"
              aria-label="Link opens a file"
            >
              <div>
                <i class="hds-icon hds-icon--download hds-icon--size-s" aria-hidden="true" style="vertical-align: middle"></i>
              </div>
              {% set number, file_name = attachment.number.value|render, attachment.file_name.value|render %}
              <div>{{ '%s - %s'|format(number, file_name) }}</div>
            </a>
          </div>
        {% else %}
          <div class="issue__attachment">
            <a disabled class="paatokset__link-plain">
              <div>
                <i class="hds-icon hds-icon--eye-crossed hds-icon--size-s" aria-hidden="true" style="vertical-align: middle"></i>
              </div>
              <div>{{ '%s - %s - non public'|format(attachment.number.value, attachment.file_name.value)|t }}</div>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% if confidentiality_reasons is not empty %}
      <div>
        {% for reason in confidentiality_reasons %}
          <div class="confidentiality-reason">
            {{ reason.value }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endif %}
