{#
  
#}

<div class="issue-content-top__container">
  <div{{ content_attributes.addClass('issue-content-top') }}>
    {% if current_agenda_item.index.value %}
      <div class="issue-content__indices">
        {{ 'Issue %s'|format(current_agenda_item.index.value)|t }}
      </div>
    {% endif %}
    {% if current_agenda_item.subject.value %}
      <div class="issue-content__title">
        <h2>{{ current_agenda_item.subject.value }}</h2>
      </div>
    {% endif %}
    {% if current_handling.policymaker_name %}
      <div class="issue-content__policymaker-label {{ current_handling.class }}">
        <span>{{ current_handling.policymaker_name }} </span>
      </div>
    {% endif %}
    <div class="issue__favorite-button">
      {% set button_label = 'Save %s to favorites'|format('decision')|t %}
      {%
        include '@hdbt/button/button.html.twig'
        with {type: 'supplementary', icon_first: true, icon_first_type: 'heart', disabled: false, label: button_label } 
      %}
    </div>
  </div>
  </div>
<div class="issue-content__container">
  <div{{ content_attributes.addClass('issue-content') }}>
    {% if current_agenda_item %}
      {% if current_agenda_item.content_resolution.value|render is not empty %}
        <div class="issue-content__section">
          <h3>{{ 'Resolution'|trans }}</h3>
          {{ current_agenda_item.content_resolution.value|raw }}
        </div>
      {% endif %}
      {% if current_agenda_item.content_draft_proposal.value|render is not empty %}
        <div class="issue-content__section">
          <h3>{{ 'Draft proposal'|trans }}</h3>
          {{ current_agenda_item.content_draft_proposal.value|raw }}
        </div>
      {% endif %}
      {% if current_agenda_item.content_presenter.value|render is not empty %}
        <div class="issue-content__section">
          <h3>{{ 'Presenter'|trans }}</h3>
          {{ current_agenda_item.content_presenter.value|raw }}
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>
