{#
/**
 * @file
 * Theme for issue entity.
 *
 */
#}

{%
  set classes = [
  'issue',
  view_mode ? 'issue--view-mode-' ~ view_mode|clean_class,
]
%}

  <article{{ attributes.addClass(classes) }}>
    <header class="issue-header__container container">
      <div{{ content_attributes.addClass('issue__header') }}>
        <h1{{ title_attributes.addClass('issue__title') }}>
          {{ entity.label }}
        </h1>
      </div>
      {% if entity.diarynumber.value %}
        <div class="issue__diarynumber">
          <label>
            {{ 'Diary number'|trans }}
          </label>
          <span>{{ entity.diarynumber.value }}</span>
        </div>
      {% endif %}
      <div class="issue-header__footer">
        {% if entity.top_category_name.value %}
          <section 
            class="issue__category issue__left-column__container"
            aria-label='{{ 'Tags'|t }}'
            role="Region"
          >
            {% include '@hdbt/misc/tag.html.twig' with { label: entity.top_category_name.value } %}
          </section>
        {% endif %}
        <div class="issue__favorite-button">
          {% set button_label = 'Save %s to favorites'|format('issue')|t %}
          {% include '@hdbt/button/button.html.twig' with {type: 'supplementary', icon_first: true, icon_first_type: 'heart', disabled: false, label: button_label } %}
        </div>
      </div>
    </header>
    <div class="issue__wrapper">
      <div class="ajax-progress-throbber">
      </div>
      <div class="issue__container issue__container--navigation container">
        <div class="issue__left-column__container">
          <div class="issue__decision-navigation">
            {% include '@helfi_paatokset/content/paatokset-issue--decision-navigation.html.twig' %}
          </div>
        </div>
        <div class="issue-right-column__container">
          <div class="issue__pdf issue__pdf--desktop issue__right-column__container">
            {% include '@hdbt/button/button.html.twig' with {type: 'primary', icon_last: true, icon_last_type: 'download', disabled: false, label: 'Download decision (pdf)'|t } %}
          </div>
        </div>
      </div>
      <div class="issue__container issue__container--content container">
        <div class="issue__left-column__container">
          <div class="issue-dropdown">
            <div class="issue-ajax-error__container">
              {% set status_headings = {'error': 'Error loading decision'|trans} %}
              {%
                set message_list = {
                  'error': ['Something went wrong loading decision. Try again.'|trans]
                }
              %}
              {% include '@hdbt/misc/status-messages.html.twig' with { status_headings: status_headings, message_list: message_list, size: 'large' } %}
            </div>
            {% include '@helfi_paatokset/form/paatokset-dropdown.html.twig' with { selected: current_handling, options: handlings, show_warning: next_handling, warning_label: 'More recent handlings'|trans } %}
            {% if all_decisions_link %}
            <div class="issue-dropdown__show-more">
              <a href="{{ all_decisions_link }}" class="paatokset-button-link">
                <span>{{ 'Other decisions for the meeting'|t }}</span>
                <i class="hds-icon hds-icon--arrow-right"></i>
              </a>
            </div>
            {% endif %}
          </div>
          <div class="issue__ajax-container">
            {% include '@helfi_paatokset/content/paatokset-issue--content.html.twig' with { diarynumber: entity.diarynumber.value, current_handling: current_handling, current_agenda_item: current_agenda_item } %}
          </div>
        </div>

        <div class="issue-right-column__container">
          <div class="issue__pdf issue__pdf--mobile">
            {% include '@hdbt/button/button.html.twig' with {type: 'primary', icon_last: true, icon_last_type: 'download', disabled: false, label: 'Download decision (pdf)'|t } %}
          </div>
          {% include '@helfi_paatokset/content/paatokset-issue--attachments.html.twig' %}
        </div>
      </div>
    </div>
  </article>
