{#
/**
 *  Available variables:
 *  - item: Se Drupal\paatokset_rss\DTO\LupapisteItem for available variables.
 */
#}
{% set link_attributes = {
  'class': [
    'rss-item__link--download',
  ]
} %}

{% set link_title = item.title ~ ' ' ~ '(download pdf)'|t({}, {'context': 'Lupapiste rss'}) %}

<div class="rss-item__container">
  <h3>{{ link(link_title, item.asiakirjaLink, link_attributes) }}</h3>
  <div>
    <div class="rss-item__row-container">
      <div class="rss-item__item">
        <span>{{ 'Building site'|t({}, {'context': 'Lupapiste rss'}) }}:</span> {{ item.rakennuspaikka }}
      </div>
      <div class="rss-item__item">
        <span>{{ 'Permit ID'|t({}, {'context': 'Lupapiste rss'}) }}:</span> {{ item.lupatunnus }}
      </div>
    </div>
    <div class="rss-item__row-container">
      <div class="rss-item__item">
        <span>{{ 'Property ID'|t({}, {'context': 'Lupapiste rss'}) }}:</span> {{ item.kiinteistotunnus }}
      </div>
      <div class="rss-item__item">
        <span>{{ 'Decicion date'|t({}, {'context': 'Lupapiste rss'}) }}:</span> {{ item.paatosPvm|date('d.m.Y') }}
      </div>
    </div>
    <div class="rss-item__row-container">
      <div class="rss-item__item">
        <span>{{ 'Decision section'|t({}, {'context': 'Lupapiste rss'}) }}:</span> {{ item.paatoksenPykala }}
      </div>
      <div class="rss-item__item">
        <span>{{ 'Decision maker'|t({}, {'context': 'Lupapiste rss'}) }}:</span> {{ item.paattaja }}
      </div>
    </div>    
  </div>
  <div class="rss-item__publication-date">
    <span>{{ 'Publication starts'|t({}, {'context': 'Lupapiste rss'}) }} {{ item.julkaisuAlkaa.date|date('U')|format_date('publication_date_format')}}.</span>
    <span>{{ 'Publication ends'|t({}, {'context': 'Lupapiste rss'}) }} {{ item.julkaisuPaattyy.date|date('U')|format_date('publication_date_format')}}.</span>
  </div>
  <div class="rss-item__additional-info">{{ 'Service of notice is considered to have taken place on the seventh day from the date of publication of the announcement.'|t({}, {'context': 'Lupapiste rss'}) }}</div>
</div>
