{#
/**
 *
 * @file
 * Template for a single attachment
 */
#}

<div class="policymaker-list-item policymaker-list-item--document">
  <div class="list-item__date">
    <span class="list-item__date--desktop">{{ document['#date'] }}</span>
    <span class="list-item__date--mobile">{{ document['#responsiveDate'] }}</span>
  </div>
  <div class="list-item__subject">
    <a href="{{ document['#url'] }}">
      {{ document['#responsiveTitle'] }}
    </a>
  </div>
  {% if document['#download_link'] %}
    <div class="paatokset_download-link-container">
      <a class="paatokset__link-plain" href="{{ document['#download_link'] }}" download>
        {% include '@hdbt/misc/icon.twig' with {icon: 'document'} %}
        {{ 'Lataa tulostettava versio (PDF)'|trans }}
      </a>
    </div>
  {% endif %}
</div>