{#
/**
 *
 * @file
 * Template for a single document
 */
#}

<div class="policymaker-list-item policymaker-list-item--document">
  <div class="list-item__date">
    {% if document.publish_date %}
      <span class="list-item__date--desktop">{{ document.publish_date }}</span>
    {% endif %}
    {% if document.publish_date_short %}
      <span class="list-item__date--mobile">{{ document.publish_date_short }}</span>
    {% endif %}
  </div>
  <div class="list-item__subject">
    <a href="{{ document.link }}">
      {{ document.title }}
      {% if document.meeting_number %}
        <span class="subject__date">
          {{  document.meeting_number }}
        </span>
      {% elseif document.publish_date_short %}
        <span class="subject__date">
          {{  document.publish_date_short }}
        </span>
      {% endif %}
    </a>
  </div>
  {% if document.origin_url %}
    <div class="paatokset_download-link-container">
      <a class="paatokset__link-plain" href="{{ document.origin_url }}" download>
        {% include '@hdbt/misc/icon.twig' with {icon: 'document'} %}
        {{ 'Lataa tulostettava versio (PDF)'|trans }}
      </a>
    </div>
  {% endif %}
</div>