<div class="frontpage-calendar__item">
  <div class="frontpage-calendar__item-inner">
    <div class="color-line" style="background-color:{{ line_color }}"></div>
    <div class="content-container">
      <span class="meeting-date">{{ date|date("d.m.Y") }}</span>
      <h4>{{ policymaker }}</h4>
      {% if motions_link %}
        <a href="{{ motions_link }}" class="motions-link">
          <span>{{ open_motions }}</span>
          <i class="hds-icon hds-icon--angle-right"></i>
        </a>
      {% endif %}
    </div>
  </div>
</div>